# Local development (Docker Compose)
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/sakh_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=root

# Supabase production
# SPRING_DATASOURCE_URL=jdbc:postgresql://db.mpqgieodurvgnrfcoipd.supabase.co:5432/postgres?sslmode=require
# SPRING_DATASOURCE_USERNAME=postgres
# SPRING_DATASOURCE_PASSWORD=Sakh@Postgres2026@

# Neon production
# SPRING_DATASOURCE_URL=jdbc:postgresql://ep-long-haze-azpp3lxk-pooler.c-3.ap-southeast-1.aws.neon.tech:5432/neondb?sslmode=require
# SPRING_DATASOURCE_USERNAME=neondb_owner
# SPRING_DATASOURCE_PASSWORD=<YOUR_NEON_PASSWORD>

JWT_SECRET=<YOUR_JWT_SECRET>
GEMINI_API_KEY=<YOUR_GEMINI_API_KEY>
