# Local development (Docker Compose)
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/sakh_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=root

# Supabase production
# SPRING_DATASOURCE_URL=jdbc:postgresql://db.mpqgieodurvgnrfcoipd.supabase.co:5432/postgres?sslmode=require
# SPRING_DATASOURCE_USERNAME=postgres
# SPRING_DATASOURCE_PASSWORD=Sakh@Postgres2026@

JWT_SECRET=your_jwt_secret
GEMINI_API_KEY=your_gemini_key
